.page-center{
  display:flex;
  justify-content:center;
  align-items:flex-start;
}

/* card box */
.card{
  background:white;
  padding:35px;
  border-radius:14px;
  box-shadow:0 8px 25px rgba(0,0,0,0.08);
  width:550px;
}

/* attendance */
.attendance-card h1{
  text-align:center;
  margin-bottom:25px;
}

.btn-group{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:10px;
}

.primary-btn{
  background:#2563eb;
  color:white;
  padding:12px 22px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
}

.secondary-btn{
  background:#10b981;
  color:white;
  padding:12px 22px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-weight:600;
}

.status{
  text-align:center;
  margin-top:20px;
  font-weight:600;
  color:#374151;
}

.history-table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

.history-table th{
  background:#2563eb;
  color:white;
  padding:12px;
}

.history-table td{
  padding:10px;
  border-bottom:1px solid #e5e7eb;
  text-align:center;
}

.history-table tr:hover{
  background:#f3f4f6;
}

.summary-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:18px;
  margin-top:20px;
}

.summary-box{
  padding:25px;
  border-radius:12px;
  color:white;
  text-align:center;
  font-weight:600;
}

.present{ background:#10b981; }
.late{ background:#f59e0b; }
.half{ background:#ef4444; }
.hours{ background:#3b82f6; }

.summary-box h3{
  font-size:28px;
  margin-bottom:5px;
}

.profile-row{
  display:flex;
  justify-content:space-between;
  padding:12px 0;
  border-bottom:1px solid #e5e7eb;
}

.profile-row span{
  font-weight:600;
  color:#374151;
}
